<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title> Cleaning Engine Leak </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/6/6e/Troubleshoot-Leaking-Oil-Step-01.jpg/v4-460px-Troubleshoot-Leaking-Oil-Step-01.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 1 </ion-card-title>
      <ion-card-subtitle> Park your vehicle and allow it to cool down if you were just driving it. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Make sure your vehicle is parked on flat and level ground and turn off the engine. If you were recently driving your vehicle, wait at least 15 minutes for the engine to cool down before you clean it.    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/f/f6/Troubleshoot-Leaking-Oil-Step-02.jpg/v4-460px-Troubleshoot-Leaking-Oil-Step-02.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 2 </ion-card-title>
      <ion-card-subtitle> Pop the hood and disconnect the negative battery terminal. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Open up your hood to access your engine and locate the battery. Find the negative terminal, which will have a minus (-) sign next to it. Use a wrench to loosen the nut connecting the negative terminal and lift the cable off of the post so the battery is disconnected from your engine.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/e/ee/Troubleshoot-Leaking-Oil-Step-03.jpg/v4-460px-Troubleshoot-Leaking-Oil-Step-03.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 3 </ion-card-title>
      <ion-card-subtitle> Blow out loose dirt with an air compressor. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      An air compressor is a machine that blows jets of concentrated air and is used to clean surfaces. Put on a pair of safety glasses, plug in your air compressor, and use the hose to blast dirt and debris out of your engine. Be sure to hit all of the nooks and crannies, as well as the undercarriage beneath your engine with the compressed air to clear out any buildup.  
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/5/56/Troubleshoot-Leaking-Oil-Step-04.jpg/v4-460px-Troubleshoot-Leaking-Oil-Step-04.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 4 </ion-card-title>
      <ion-card-subtitle> Spray engine cleaner all over the engine and let it soak for 30 minutes. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Engine cleaner is a degreasing agent that is specially designed to clean off grease, grime, and oil that builds up on engines. Spray the cleaner all over your engine block according to the directions on the packaging and then get underneath your vehicle to spray the cleaner onto the engine and undercarriage from below. Let the cleaner sit so it can work to dissolve and loosen oily residue.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/d/d7/Troubleshoot-Leaking-Oil-Step-05.jpg/v4-460px-Troubleshoot-Leaking-Oil-Step-05.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 5 </ion-card-title>
      <ion-card-subtitle> Rinse off the engine with a hose to clean off oil and grime. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Take a garden hose or a pressure washer set to the lowest setting and wash away the engine cleaner and oily residue. Continue rinsing the engine from top and bottom until all of the cleaner and grime is gone so you will be better able to see any leaking oil.   
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/4/45/Stop-an-Engine-from-Overheating-Step-6-Version-2.jpg/v4-460px-Stop-an-Engine-from-Overheating-Step-6-Version-2.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 6 </ion-card-title>
      <ion-card-subtitle> Check the coolant reservoir tank and fill it if needed.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Your vehicle has a plastic reservoir of coolant connected to the top of the radiator. Locate the reservoir and twist the cap counterclockwise to remove it. This will allow you to see if your coolant is low. Look for marks indicating the proper level of coolant, and check to see if the coolant is at or below that level.    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/e/e7/Stop-an-Engine-from-Overheating-Step-7-Version-3.jpg/v4-460px-Stop-an-Engine-from-Overheating-Step-7-Version-3.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 7 </ion-card-title>
      <ion-card-subtitle> Continue driving if adding coolant fixed the problem.  </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      After adding coolant, turn on your vehicle and check the temperature gauge. If it has returned to a normal level, it may be safe to continue driving. However, it is best to get your vehicle inspected by a mechanic as soon as possible to ensure that there are no additional problems. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/f/f2/Stop-an-Engine-from-Overheating-Step-8-Version-3.jpg/v4-460px-Stop-an-Engine-from-Overheating-Step-8-Version-3.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 8 </ion-card-title>
      <ion-card-subtitle> Call a tow truck if you have a leak, the vehicle does not cool down, or you suspect other problems. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      You need a piece of metal to ground the charge and complete the circuit. Any bolt in the engine bay will work. You can also use the engine block itself. Any thin metal portion of the frame will work as well, so long as it is unpainted.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/6/65/Jumpstart-a-Vehicle-Step-9-Version-4.jpg/v4-460px-Jumpstart-a-Vehicle-Step-9-Version-4.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 9 </ion-card-title>
      <ion-card-subtitle> Start the vehicle with the good battery to begin charging.  </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Have the driver of the other vehicle get in and crank the ignition to start their vehicle. Once their engine is running, your battery will begin charging. 
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-button (click) = "navigatetohome()">
    <ion-icon slot="icon-only" name="home" color = "tertiary"></ion-icon>
    </ion-button>
    </ion-buttons>
    
  
      <ion-buttons slot="end">
    <ion-button>
    <ion-icon slot="icon-only" name="search" color = "tertiary"></ion-icon>
    </ion-button>
    <ion-button>
    <ion-icon slot="icon-only" name="settings" color = "tertiary"></ion-icon>
    </ion-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-footer>