#map{width:100%; height:100%;}

.button {
  --background: #A591EF;
--background-hover: #1D267D;
--background-activated: #1D267D;
--background-focused: #1D267D;

}


.bgbg {
  --background: #1D267D; /* Replace with your desired button color */
}