<ion-header [translucent]="true">
  <ion-toolbar><ion-button (click) = "main()" >Back</ion-button>
   
    <ion-title> Jump Starting a Vehicle </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/0/0a/Jumpstart-a-Vehicle-Step-1-Version-4.jpg/v4-460px-Jumpstart-a-Vehicle-Step-1-Version-4.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 1 </ion-card-title>
      <ion-card-subtitle> Park a running vehicle next to your vehicle. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      You need another vehicle with a good battery to give you a boost. You can park the second vehicle so your hoods are facing one another, or have the second vehicle park next to your hood so the vehicles are parallel. So long as the jumper cables can reach both batteries, you are good. Just make sure that the vehicles are not touching one another.    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/0/07/Jumpstart-a-Vehicle-Step-2-Version-4.jpg/v4-460px-Jumpstart-a-Vehicle-Step-2-Version-4.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 2 </ion-card-title>
      <ion-card-subtitle> Turn off all of the electrical components in both vehicles. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Double-check your dead vehicle to make sure the lights and wipers will not come on as soon as the vehicle starts. In the working vehicle, shut the ignition off.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/7/73/Jumpstart-a-Vehicle-Step-3-Version-4.jpg/v4-460px-Jumpstart-a-Vehicle-Step-3-Version-4.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 3 </ion-card-title>
      <ion-card-subtitle> Grab a set of jumper cables. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      The jumper cables will connect the dead battery to the healthy battery so you can borrow a charge and start your vehicle again. Any set of jumper cables will do the trick. If you have a choice, use longer, thicker cables. The longer and bigger the cables, the easier they will be to manuever.  
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/5/54/Jumpstart-a-Vehicle-Step-4-Version-4.jpg/v4-460px-Jumpstart-a-Vehicle-Step-4-Version-4.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 4 </ion-card-title>
      <ion-card-subtitle> Locate the battery terminals on both vehicles before you start.  </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Pop the hood on each vehicle. The location of the battery depends on the make and model of each vehicle. Look for a small box with two metal bolts sticking up on top. These metal bolts are the terminals. Often, the terminals are covered by black and red covers.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/b/bd/Jumpstart-a-Vehicle-Step-5-Version-4.jpg/v4-460px-Jumpstart-a-Vehicle-Step-5-Version-4.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 5 </ion-card-title>
      <ion-card-subtitle> Connect the red clamp to the positive terminal on the dead battery. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Your jumper cables are color coded. Attach one of the red clamps to the positive terminal on the dead battery. The positive terminal may have a red cover on it. If there are no covers, look for (+) under the terminal. Open the clamps jaws around the terminal and release the handles to attach it.   
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/d/d0/Jumpstart-a-Vehicle-Step-6-Version-4.jpg/v4-460px-Jumpstart-a-Vehicle-Step-6-Version-4.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 6 </ion-card-title>
      <ion-card-subtitle> Attach the other red cable to the positive terminal on the live battery. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Once one of the red clamps is attached to the dead battery, attach the other end of that red cable to the positive terminal on the donor vehicle. Do this the same way you attached the first clamp. Simply wrap the jaws around the positive (+) terminal and release the handles to attach it.    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/0/04/Jumpstart-a-Vehicle-Step-7-Version-4.jpg/v4-460px-Jumpstart-a-Vehicle-Step-7-Version-4.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 7 </ion-card-title>
      <ion-card-subtitle> Connect the black cable to the negative terminal on the vehicle with a good battery. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Use the end of the black cable that is closest to the working vehicle. Connect the black clamp on the end of the cable to the negative terminal on the functioning vehicle. Your cables are live now, so be extra careful not to touch the lat metal clamp. Do not let it rest on anything other than unpainted metal or concrete. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/c/c1/Jumpstart-a-Vehicle-Step-8-Version-4.jpg/v4-460px-Jumpstart-a-Vehicle-Step-8-Version-4.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 8 </ion-card-title>
      <ion-card-subtitle> Ground the last black clamp to a piece of unpainted metal on your vehicle. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      You need a piece of metal to ground the charge and complete the circuit. Any bolt in the engine bay will work. You can also use the engine block itself. Any thin metal portion of the frame will work as well, so long as it is unpainted.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/6/65/Jumpstart-a-Vehicle-Step-9-Version-4.jpg/v4-460px-Jumpstart-a-Vehicle-Step-9-Version-4.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 9 </ion-card-title>
      <ion-card-subtitle> Start the vehicle with the good battery to begin charging.  </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Have the driver of the other vehicle get in and crank the ignition to start their vehicle. Once their engine is running, your battery will begin charging. 
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/7/7e/Jumpstart-a-Vehicle-Step-10-Version-4.jpg/v4-460px-Jumpstart-a-Vehicle-Step-10-Version-4.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 10 </ion-card-title>
      <ion-card-subtitle> Wait a few minutes for the battery to charge. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      You need enough juice in your battery to turn the engine over when you crank the engine. It can take a few minutes for your battery to collect enough energy for this. One way to see if the battery is ready is to turn on an interior light in your vehicle. If it iss bright and stays on, it is ready. If it is a little dim or it will not turn on, give it a few more minutes.    
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/c/c2/Jumpstart-a-Vehicle-Step-11-Version-4.jpg/v4-460px-Jumpstart-a-Vehicle-Step-11-Version-4.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 11 </ion-card-title>
      <ion-card-subtitle> Turn the key in your ignition to start the engine. </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      After you have waited a few minutes, hop into the driver seat and start the vehicle the same way you normally would.   
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/8/81/Jumpstart-a-Vehicle-Step-12-Version-4.jpg/v4-460px-Jumpstart-a-Vehicle-Step-12-Version-4.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 12 </ion-card-title>
      <ion-card-subtitle> Let your vehicle run to charge the battery while you wrap things up. </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Do not turn your vehicle off while you are putting the cables away and thanking the other driver for their help. Your battery needs time to recharge, which will not happen if you shut the engine off. Just let it run for a few minutes while you are cleaning up.    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/e/ec/Jumpstart-a-Vehicle-Step-13-Version-3.jpg/v4-460px-Jumpstart-a-Vehicle-Step-13-Version-3.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 13 </ion-card-title>
      <ion-card-subtitle> Remove the black ground clamp from your vehicle first. </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Once your vehicle is up and running, carefully grip the handles on the clamp attached to the unpainted metal. Remove this black cable from your vehicle. It’s still live, so either hold it up without touching the clamp, or set it down on concrete.    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/c/ce/Jumpstart-a-Vehicle-Step-14-Version-3.jpg/v4-460px-Jumpstart-a-Vehicle-Step-14-Version-3.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 14 </ion-card-title>
      <ion-card-subtitle> Disconnect the good battery by taking the black cable off before the red one. </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Remove the black clamp from the good battery. Then, take the red clamp off of the same battery. Ask the other driver to do this for you if you want to hold on to the ground clamp and keep it from touching something.    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/f/f4/Jumpstart-a-Vehicle-Step-15.jpg/v4-460px-Jumpstart-a-Vehicle-Step-15.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 15 </ion-card-title>
      <ion-card-subtitle> Remove the last red cable from the bad battery. </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Make sure the other 3 clamps are entirely off. Then, remove the last clamp on your positive terminal. Put any terminal covers back into place and close the hood of your vehicle to wrap things up.    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.wikihow.com/images/thumb/4/47/Jumpstart-a-Vehicle-Step-16.jpg/v4-460px-Jumpstart-a-Vehicle-Step-16.jpg.webp" />
    <ion-card-header>
      <ion-card-title> Step 16 </ion-card-title>
      <ion-card-subtitle> Follow up with a mechanic to make sure that there are no underlying problems. </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Sometimes, the cause of a dead battery is as simple as cold weather. Forgetting to turn your lights off is another common cause. However, there may be another mechanical issue that caused your battery to die. If you suspect this is the case, drive your vehicle over to a mechanic and have them take a look.    
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-button (click) = "navigatetohome()">
    <ion-icon slot="icon-only" name="home" color = "tertiary"></ion-icon>
    </ion-button>
    </ion-buttons>
    
  
      <ion-buttons slot="end">
    <ion-button>
    <ion-icon slot="icon-only" name="search" color = "tertiary"></ion-icon>
    </ion-button>
    <ion-button>
    <ion-icon slot="icon-only" name="settings" color = "tertiary"></ion-icon>
    </ion-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-footer>