<ion-header [translucent]="true">
  <ion-toolbar>
   <ion-button (click) = "main()" >Back</ion-button>
    <ion-title> Fixing a Flat Tire </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <ion-card>
    <img src="https://content.instructables.com/F6Z/2JVZ/I6H7GZ4F/F6Z2JVZI6H7GZ4F.jpg?auto=webp&frame=1&width=600&height=1024&fit=bounds&md=b7efb56cdd01b8b3ec55f0b74bf580aa" />
    <ion-card-header>
      <ion-card-title> Step 1 </ion-card-title>
      <ion-card-subtitle> Ensure Vehicle Is in Park With Emergency Brake Set. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      This step is vital to prevent the car from moving during the jacking process. If you have a standard transmission like he one picture you should put it in first gear, an automatic should be in park or P position. The emergency brake should also be set this could either be on the center console like the one pictured or a pedal at the floor.    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://content.instructables.com/FEA/4Y4O/I6H7H0HU/FEA4Y4OI6H7H0HU.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds&md=edbb20bc36f652b640892a23bd56f5b4" />
    <ion-card-header>
      <ion-card-title> Step 2 </ion-card-title>
      <ion-card-subtitle> Un-stow Equipment. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      A passenger car will always have the spare tire located in the trunk under the floor. In this case the tools that you will use are located in a foam container inside the wheel making it easy to place them in the proper spots other vehicles will have them in other places in the trunk. In order to remove the spare tire you must unscrew the bolt that tightens the tire to the floor and remove it.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://content.instructables.com/FTJ/7Q7L/I6H7H0TV/FTJ7Q7LI6H7H0TV.jpg?auto=webp&frame=1&width=700&height=1024&fit=bounds&md=0bcaf313f7c13ae8bd79a9526670ae83" />
    <ion-card-header>
      <ion-card-title> Step 3 </ion-card-title>
      <ion-card-subtitle> Loosen Lug Nuts. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      The lug nuts should be initially loosened on the ground prior to the vehicle being jacked. If the lug nuts require a good amount of torque the tire will spin instead of the nut. With the vehicle on the ground it prevents this from happening. Some would think that since the vehicle is in park it will prevent the tire from spinning but depending on the location of the tire and your vehicles drive train it still may spin.    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://content.instructables.com/FRL/QTW3/I6H7H1W9/FRLQTW3I6H7H1W9.jpg?auto=webp&frame=1&height=1024&fit=bounds&md=987b480308292528b52865b28c3af242" />
    <ion-card-header>
      <ion-card-title> Step 4 </ion-card-title>
      <ion-card-subtitle> Properly Position the Jack Under the Vehicle. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      A normal passenger car will have frame rails that run along the bottom of the car on each side from tire to tire. Honda or Acura vehicles like this one extend the frame rail down in four places around the car creating a perfect jack pad. Place the jack directly under the jack pad and ensure that it is evenly placed on the ground. It is imperative that this is performed properly to prevent the vehicle from falling.    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://content.instructables.com/F15/RX0H/I6H7H30H/F15RX0HI6H7H30H.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds&md=0fbacd4624ed02df52fb13caf5d3b69a" />
    <ion-card-header>
      <ion-card-title> Step 5 </ion-card-title>
      <ion-card-subtitle> Attach Jack Handle and Lug Wrench. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Remove the jack handle and lug wrench from the stowed position and attach them to the provided loop on the jack.   
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://content.instructables.com/FKE/D0H3/I6H7H31E/FKED0H3I6H7H31E.jpg?auto=webp&frame=1&width=525&height=1024&fit=bounds&md=1edc52b2919e6d2df7d4aa9cdd9745d5" />
    <ion-card-header>
      <ion-card-title> Step 6 </ion-card-title>
      <ion-card-subtitle> Raise Vehicle. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      When the lug wrench is spun counter clockwise this will cause the jack and eventually the car to rise off the ground.    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://content.instructables.com/FQN/LWWX/I6H7H3N9/FQNLWWXI6H7H3N9.jpg?auto=webp&frame=1&height=1024&fit=bounds&md=f916d607ce98f2e528c5a1acea81ab00" />
    <ion-card-header>
      <ion-card-title> Step 7 </ion-card-title>
      <ion-card-subtitle> Remove Lug Nuts. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Now you can loosen the lug nuts the remainder of the way.    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://content.instructables.com/FX2/76PQ/I6H7H47F/FX276PQI6H7H47F.jpg?auto=webp&frame=1&height=1024&fit=bounds&md=c2d1f211c0a25809ab9a5bdb9348ca09" />
    <ion-card-header>
      <ion-card-title> Step 8 </ion-card-title>
      <ion-card-subtitle> Remove Tire. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      When the tire is no longer held by any lug nuts you may remove it from the vehicle.    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://content.instructables.com/FTY/SUPX/I6H7HL9B/FTYSUPXI6H7HL9B.jpg?auto=webp&frame=1&width=525&height=1024&fit=bounds&md=1fd5cfa2031f9795a6927ff47d0069b2" />
    <ion-card-header>
      <ion-card-title> Step 9 </ion-card-title>
      <ion-card-subtitle> Install Spare Tire. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Now you may place the spare tire on the lugs.  
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://content.instructables.com/FMJ/6QN9/I6H7H4VQ/FMJ6QN9I6H7H4VQ.jpg?auto=webp&frame=1&height=1024&fit=bounds&md=41d7dde7539cab336d10699b2b91ea9b" />
    <ion-card-header>
      <ion-card-title> Step 10 </ion-card-title>
      <ion-card-subtitle> Re-install Lug Nuts. </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Re-install the lug nuts. It is imperative to tighten them in an even pattern to ensure that the tire sits even on the hub assembly.    
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img src="https://content.instructables.com/FA5/IGKR/I6H7HAEU/FA5IGKRI6H7HAEU.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds&md=ce2e84a490c84973e261fd71269dd1b8" />
    <ion-card-header>
      <ion-card-title> Step 11 </ion-card-title>
      <ion-card-subtitle> Lower Vehicle. </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Turn the lug wrench counter clockwise to lower the vehicle. Make sure that all objects and people are clear of the vehicle prior to down jacking.   
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://content.instructables.com/F69/WZQA/I6H7H60R/F69WZQAI6H7H60R.jpg?auto=webp&frame=1&width=525&height=1024&fit=bounds&md=75803537be945efb8e7d9e3d01343631" />
    <ion-card-header>
      <ion-card-title> Step 12 </ion-card-title>
      <ion-card-subtitle>  Remove Jack. </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Once the vehicle is lowered all the way the jack may be removed from under the car.    
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://content.instructables.com/F62/RC6K/I6H7H7GD/F62RC6KI6H7H7GD.jpg?auto=webp&frame=1&width=1024&height=1024&fit=bounds&md=ece6d987a7e7ea05069ec92c35650c12" />
    <ion-card-header>
      <ion-card-title> Step 13 </ion-card-title>
      <ion-card-subtitle> Stow Equipment. </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Return the equipment to the proper location so it will be readily available next time you need it. Most passenger car spare tires are not full size tires, they are not meant to be used for long periods of time and at the normal high speeds that a regular tire can handle.    
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-button (click) = "navigatetohome()">
    <ion-icon slot="icon-only" name="home" color = "tertiary"></ion-icon>
    </ion-button>
    </ion-buttons>
    
  
      <ion-buttons slot="end">
    <ion-button>
    <ion-icon slot="icon-only" name="search" color = "tertiary"></ion-icon>
    </ion-button>
    <ion-button>
    <ion-icon slot="icon-only" name="settings" color = "tertiary"></ion-icon>
    </ion-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-footer>